*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #e7b2b2;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.flashCard {

}